@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

/* Declare global variables for colors */
:root {
    --primary-background-color: rgb(0, 10, 40); /* Team logo darker background color */
    --secondary-background-color: hsl(212, 97%, 15%); /* Team logo lighter background color */
    --tertiary-background-color: color-mix(in oklab, rgb(0, 135, 191) 25%, rgb(120, 255, 255) 75%); /* Team logo background star color */
    --primary-text-color: orange; /* Team logo "10X" text color */
    --secondary-text-color: #FEFEFF; /* Team logo "DEVS" color */
    --tertiary-text-color: color(display-p3 0.56 0.96 0.96); /* Team logo "Team 10" color */
}

* {
    max-width: 100%;
}

body {
    margin: 0 0;
}

header {
    margin: 0 15px 0 15px;
}

/* Navigation bar at the top of the page */
nav {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 1.5;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 0 0 1mm 0;
    border-color: var(--tertiary-background-color, skyblue);
    z-index: 1; /* So the navigation bar doesn't get covered by other elements when scrolling */
}

/* Main container for the meeting notes */
main {
    margin-left: 15px;
    margin-right: 15px;
}

/* Footer at the bottom of the page */
footer {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Lilita One', serif;
    font-weight: 400;
}

/* The main title of the page */
h1 {
    color: var(--primary-text-color, orange);
    font-family: 'Lilita One', serif;
    font-weight: 400;
}

/* The section titles */
h2 {
    color: var(--primary-text-color, orange);
    font-family: 'Lilita One', serif;
    font-weight: 400;
}

/* The subtitle for the meeting topic and date */
header > h2 {
    color: var(--secondary-text-color, white);
}

/* Major bullet points in each section */
h3 {
    color: var(--secondary-text-color, white);
    font-family: 'Lilita One', serif;
    font-weight: 400;
}

/* The linked text for each section in the navigation bar */
nav > h3 {
    margin: auto;
}

ul, ol {
    background-color: var(--secondary-background-color, midnightblue);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

li {
    color: var(--secondary-text-color, white);
    font-size: 18px;
}

/* Used for the attendees' names and labels in the check-in form */
label {
    color: var(--secondary-text-color, white);
}

label[for="name"] {
    font-size: 13.5pt;
}

label[for="college"] {
    font-size: 13.5pt;
}

[for="today"] {
    font-size: 13.5pt;
}

/* Major bullet points in the expandable section */
summary {
    color: var(--secondary-text-color, white);
    font-family: 'Lilita One', serif;
    font-weight: 400;
    font-size: 18px;
}

/* The prompt for each question in the check-in form */
legend {
    color: var(--secondary-text-color, white);
    font-size: 18px;
}

p {
    color: var(--secondary-text-color, white);
    font-size: 18px;
}

a {
    color: var(--tertiary-text-color, lightblue);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-text-color, white);
    text-decoration: underline;
}

/* Bolded start of each bullet point */
b {
    color: var(--tertiary-text-color, lightblue);
    font-family: 'Lilita One', serif;
    font-weight: 200;
}

/* The container for each question in the check-in form */
fieldset {
    background-color: var(--secondary-background-color, midnightblue);
    border-radius: 10px;
    padding: 10px 12px 12px 12px;
}

/* Interactable elements including the checkboxes for attendance and the check-in form */
input {
    font-family: 'Lilita One', serif;
    font-weight: 200;
    font-size: 1pc;
}

/* Selection box for the college */
select {
    font-family: 'Lilita One', serif;
    font-weight: 200;
    font-size: 1pc;
}

/* Textbox to give feedback for the meeting */
form textarea {
    font-family: 'Lilita One', serif;
    font-weight: 200;
    font-size: 18px;
    width: stretch;
    height: stretch;
}

/* Form submission button */
button {
    background-color: var(--secondary-background-color, midnightblue);
    color: var(--primary-text-color, orange);
    font-family: 'Lilita One', serif;
    font-weight: 400;
    font-size: 20px;
    width: 240px;
    height: 40px;
    max-width: 50%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Change submission button color when click is held down */
button:active {
    color: var(--secondary-text-color, white);
}

hr {
    border-color: var(--tertiary-background-color, skyblue);
    border-width: 2px;
}

section ~ hr {
    border-width: 1px;
}

/* Meeting video */
video:has(+ audio) {
    display: block;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Meeting audio */
video + audio {
    display: block;
    max-width: 100%;
    height: 54px;
    margin-bottom: 20px;
}

/* Team logo */
img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* The container for each decision made */
div.decision {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

/* The title for each decision */
.decision > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* The container for each item in the action items grid */
.action-item {
    justify-self: stretch;
}

/* The title for each action item */
.action-item > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Button to jump to the check-in form */
#form-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* The image for the button jumping to the check-in form */
#form-button > img {
    width: 5vw;
    height: 5vw;
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    max-height: 100px;
    border-style: solid;
    border-color: var(--tertiary-text-color, cyan);
    border-width: 1px;
}

/* The check-in form */
#check-in-section {
    font-family: 'Lilita One', serif;
    font-weight: 200;
    &:hover + #form-button > img {
        display: none; /* Hide button for jumping to the check-in form when already hovering over the check-in form */
    }
}

/* Container for members who attended the meeting */
#participants {
    background-color: var(--secondary-background-color, midnightblue);
    font-family: 'Lilita One', serif;
    font-weight: 200;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

/* Container for decisions made */
#decisions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Container for action items */
#action-items {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Structure into a 2x2 grid */
    row-gap: 5px;
    column-gap: 20px;
}

/* The container for the feedback textbox */
#feedback-fieldset {
    height: 8em;
}

/* Turn 2x2 grid into rows for mobile users */
@media screen and (max-width:480px) {
    #action-items {
        display: block;
    }
}